.span6
  = simple_form_for @user do |f| 
    = render 'error_messages'
    = f.input :email 
    = f.input :name
    = f.input :password
    = f.input :password_confirmation
    
    = f.button :submit