= render partial: 'header'

#stories-list
  = render 'stories_list'

%h4.page-header.span12{style: "margin-left: 40px"} Filters
.span13#filters
  .span4
    By state
    = select_tag "state_filter", options_for_select(['all', 'new', 'start', 'finish', 'accept', 'reject']), options = {style: "width: 150px; margin-left: 10px;"}
  .span4
    By assigner
    = select_tag "assigner_filter", options_for_select(User.all.map{|u| {u.name => u.id}}.reduce Hash.new.merge({'all'=>'all'}), :merge), options = {style: "width: 150px; margin-left: 10px;"}
  .span4
    By assignee
    = select_tag "assignee_filter", options_for_select(User.all.map{|u| {u.name => u.id}}.reduce Hash.new.merge({'all'=>'all'}), :merge), options = {style: "width: 150px; margin-left: 10px;"}