.form-page-bg
  .form-page
    .row.span12
      .span4
        %h3 Sign in
      .span4
        %h3 Sign up
    .row.span12
      .span4
        = simple_form_for(:session, url: session_path) do |f|
          = render 'error_new_session_messages'
          = f.input :email
          = f.input :password

          = f.button :submit, 'Enter'
      .span4
        = simple_form_for @user do |f|
          = render 'web/users/error_messages'
          = f.input :email
          = f.input :name
          = f.input :password
          = f.input :password_confirmation

          = f.button :submit, 'New user'
