.form-page-bg
  .form-page
    .row.span12
      %h3 Sign in
    .row.span12
      = simple_form_for(:session, url: session_path) do |f|
        = render 'error_messages'
        = f.input :email
        = f.input :password

        = f.button :submit, 'Enter'
      = link_to "sign up", new_user_path
