.comment
  .item_comment
    .row
      %h6.span2= comment.user.name
    .row
      .span6= comment.body
    .row
      %h6.span2= l(comment.created_at)
      %h6.span1= link_to "reply", '#', data_id: comment.id, class: 'reply_comment'
      - if comment.user == current_user
        %h6.span2.delete_comment= link_to "delete", api_v1_story_comment_path(story, comment), method: :delete, remote: true
  .row
    = render 'nested_comments', {nested_comments: comment.children.reverse}