#filters
  .span12
    = search_form_for search, url: stories_path, method: :get do |f|
      .span3
        = t('.by_state_filter')
        = f.select :state_eq, options_for_select(states_for_select)
      .span3
        = t('.by_assigner_filter')
        = f.select :assigner_id_eq, options_for_select(users_for_select)
      .span3
        = t('.by_assignee_filter')
        = f.select :assignee_id_eq, options_for_select(users_for_select)
      .span3
        .actions= f.submit t('.filter_btn'), class: 'btn'