= render_breadcrumbs
%h4.page-header.row.span12
  .span10= t('.new_task_title')
.span12
  = simple_form_for @story do |f|
    = f.input :title
    = f.input :body, input_html: {rows: 5}
    = f.association :assignee
    = f.input :pic, type: :file

    =f.button :submit, t('.new_task_btn')