= render_breadcrumbs

.page-header.row.span12
  %h4.span4
    = @story.full_title
  %h6.span7
    = link_to 'edit', edit_story_path(@story), class: 'edit_story_link'
.row.span12
  .span2 Assigner:
  .span5= @story.assigner.name
.row.span12
  .span2 Assignee:
  .span5= @story.assignee.name
.row.span12
  .span2 State:
  .span1.label{style: "background: #{@story.state_btn_background}"}= @story.human_state_name
.row.span12#story-body
  - if @story.pic.present?
    .span4= image_tag @story.pic, class: 'thumbnail'
  .span6= @story.body
#comment-list
  = render 'comment_list'
#add-comment
  = render 'add_comment'
