= render partial: 'header'
%h4.page-header.row.span12
  .span10
    = "##{@story.id} #{@story.title}"
.row.span12
  .span2 Assigner:
  .span5= @story.assigner.name
.row.span12
  .span2 Assignee:
  .span5= @story.assignee.name
.row.span12
  .span2 State:
  .span5
    #change-state-btn
      = render 'change_state_btn'
.row.span12
  .span6= @story.body
#comment-list
  = render 'comment_list'
#add-comment
  = render 'add_comment'
