%header
.navbar
  .navbar-inner
    %ul.nav
      %li.span2{class: navbar_option(@option[:all])}
        = link_to 'All tasks', stories_path
      %li.span2{class: navbar_option(@option[:to])}
        = link_to 'Assigned to me', '/stories/option/to'
      %li.span2{class: navbar_option(@option[:by])}
        = link_to 'Assigned by me', '/stories/option/by'

      %li.span2= link_to 'New task', new_story_path, style: "color: #32b1d0"

      %li.span2{style: 'text-align: right; padding-top: 10px;'}= current_user.name 
      %li.span2= link_to 'Sign out', signout_path, method: :delete
